.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    text-align: center;
}

.my-tasks {
    min-height: 30rem;
}


@media screen and (max-width: 991px) {
    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}